<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Do not allow zoom om mobile devices -->
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />

    <!-- jQuery -->
    <script src="/js/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/js/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/js/startmin.js"></script>

    <title>NHS patients</title>

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/css/metisMenu.min.css" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="/css/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/startmin.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="/css/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">

            <div class="navbar-header">
                <!-- <a class="navbar-brand" href="/app">NHS Patient Manager</a> -->

                <a class="navbar-brand" href="/app"><img src="/images/nhs.png" alt="NHS Patients Manager"></a>
            </div>

            <!-- Button for menu on small screen size -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <!-- Top Navigation: Right Menu -->
            <ul class="nav navbar-right navbar-top-links">


                <a href="/" style="margin-top:8px;" class="btn btn-danger" role="button">Logout</a>
            </ul>


            <!-- Sidebar -->
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">

                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="/app" class="active"><i class="fa fa-bar-chart fa-fw"></i> Dashboard</a>
                        </li>
                        <li>
                            <a href="/app/addpatient" class="active"><i class="fa fa-ambulance fa-fw"></i>  Add patient</a>
                        </li>
                        <li>
                            <a href="/app/systemsettings" class="active"><i class="fa fa-dashboard fa-fw"></i>    System settings</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>



        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h4 class="page-header">{{pageTitle}}</h4>
                    </div>
                </div>

                 <!-- Flash messages to inform user-->
                 {{#if success_msg}}
                   <div class="alert alert-success">{{success_msg}}</div>
                 {{/if}}

                 {{#if error_msg}}
                   <div class="alert alert-danger">{{error_msg}}</div>
                 {{/if}}

                 {{#if error}}
                   <div class="alert alert-danger">{{error}}</div>
                 {{/if}}

                 {{#if message}}
                     <div class="alert alert-danger">{{message}}</div>
                 {{/if}}

                 {{#each errors}}
                     <div class="alert alert-danger">{{message}}</div>
                 {{/each}}

                <!-- ... Your content goes here ... -->
                {{{body}}}
            </div>
        </div>
    </div>
</body>
</html>
